<div class="columns">
  <div class="column">
    <%= render "sidebar" %>
  </div>

  <div class="column is-four-fifths">
    <div class="title">Weekly High/Low Scorers</div>
    <div class="subtitle">Each regular season week’s top and bottom scores.</div>

    <% @high_low_scores.sort.each do |season, weeks| %>
      <div class="level">
        <div class="level-left">
          <div class="title is-4"><%= season %></div>
        </div>
      </div>

      <div class="columns">
        <div class="column is-one-half">
          <div class="box">
            <div class="subtitle">High Scorers</div>

            <table class="table is-striped is-hoverable">
              <thead>
                <tr>
                  <th>Week</th>
                  <th>Team</th>
                  <th>Score</th>
                </tr>
              </thead>

              <tbody>
                <% weeks.each do |week, stats| %>
                  <tr>
                    <td><%= week %></td>
                    <td><%= stats[:high][:user] %></td>
                    <td><%= stats[:high][:score] %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>

        <div class="column is-one-half">
          <div class="box">
            <div class="subtitle">Low Scorers</div>

            <table class="table is-striped is-hoverable">
              <thead>
                <tr>
                  <th>Week</th>
                  <th>Team</th>
                  <th>Score</th>
                </tr>
              </thead>

              <tbody>
                <% weeks.each do |week, stats| %>
                  <tr>
                    <td><%= week %></td>
                    <td><%= stats[:low][:user] %></td>
                    <td><%= stats[:low][:score] %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
