<div class="columns">
  <div class="column">
    <%= render "sidebar" %>
  </div>

  <div class="column is-four-fifths">
    <% @recaps[:seasons].each do |season, weeks| %>
      <div class="title">
        <%= season %>
      </div>

      <table class="table">
        <thead>
          <tr>
            <th>Week</th>
            <th>Player</th>
          </tr>
        </thead>

        <tbody>
          <% weeks.each do |week, player| %>
            <tr>
              <td>
                <%= week %>
              </td>
              <td>
                <%= player %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>

    <div class="title">
      Totals
    </div>

    <table class="table">
      <thead>
        <tr>
          <th>Player</th>
          <th>Count</th>
        </tr>
      </thead>

      <tbody>
        <% @recaps[:totals].each do |player, count| %>
          <tr>
            <td>
              <%= player %>
            </td>
            <td>
              <%= count %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
