<!DOCTYPE html>
<html>
  <head>
    <title>Football League of Champions</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="../../public/bulma.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <meta name="turbo-cache-control" content="no-cache">
    <%= favicon_link_tag asset_path('favicon.gif') %>
  </head>

  <body>
    <nav class="navbar is-light" role="navigation" aria-label="main navigation">
      <div class="container">
        <div class="navbar-brand is-centered">
          <%= link_to root_path, class: "navbar-item brand-mark" do %>
            <img class="brand-gif" src="https://i.gifer.com/Xtef.gif" alt="" aria-hidden="true">
            <strong class="brand-title">Football League of Champions</strong>
            <img class="brand-gif" src="https://i.gifer.com/Xtef.gif" alt="" aria-hidden="true">
          <% end %>
        </div>
      </div>
    </nav>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
